<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<style>

body {
background-color: white;
font-family: Baskerville;
text-align: center;
}

.row {
margin: auto;
max-width: 1000px;
}

#headerpicture {
    height: 170px;
    width: 170px;
    position: absolute;
    left: 5%;
    top: -3%;
    z-index: 1;
}

#navMenu {
    margin-top: 35px;
}

#navMenu ul {
margin: 0;
padding: 0;
list-style: none;
background: #003D7A;
text-align: right;
position: relative;
}

#navMenu ul li {
display: inline-block;
    text-align: center;
}

#navMenu ul li a {
display: block;
height: 60px;
width: 150px;
color: #fff;
font-family: helvetica;
line-height: 60px;
text-decoration: none;
transition: background 0.5s linear 0s, color 0.5s linear 0s;
z-index: 1;
}

#navMenu ul li a:hover {
background: #DF0101;
color: white;
}

#navMenu ul ul {
position: absolute;
width: 150px;
display: none;
}

#navMenu ul ul li {
display: block;
background: #003D7A;
}

@media screen and (max-width: 1000px) {
    #headerpicture {
        display: none;
    }
    #navMenu ul {
    text-align: center;
    }
    #navMenu ul li a {
    width: 100px;
    }

}

{% block styles %}
{% endblock %}

</style>
<title>

{% block title %}
{% endblock %}

</title>
</head>
<body>

{% if username == "" %}
{% else %}
<a href="/FantasyTeam"><img id="headerpicture" src="http://www.hdicon.com/wp-content/uploads/2011/11/National_Football_League_2008.png"/></a>

<div id="navMenu">
    <ul>
        <li><a href="/FantasyTeam">Home</a></li>
        <li><a href="/LogOut">LogOut</a></li>
        <li><a href="#">tzabawa</a>
            <ul>
                <li><a href="/playerList">Players</a></li>
                <li><a href="/playersFavoriteFood">Favorite Food</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endif %}

{% block body %}
{% endblock %}

<script type="text/javascript">

$(document).ready(function(){
    $('#navMenu ul li').click(function(){
    $('ul',this).slideToggle('fast')
    });
});

{% block script %}
{% endblock %}

</script>

</body>
</html>


