{% extends "Common.html" %}

{% block styles %}

#table {
margin: auto;
height: 100%;
width: 25%;
color: #003D7A;
text-align: center;
}

#tbody {
vertical-align: middle;
}

#Break_Point {
height: calc(100vh - 50px);
}

#Create_Account_Picture {
height: 150px;
width: 150px;
}

@media screen and (max-width: 768px) {
    #Create_Account_Picture {
        height: 115px;
        width: 115px;
}
}

#Create_Account {
font-size: 30px;
}

form {
font-size: 15px;
}

#error {
font-size: 20px;
color: red;
}

@media screen and (max-width: 768px) {
    #error {
        font-size: 15px;
}
}

#Home {
font-size: 15px;
color: #003D7A;
padding: 3px;
margin-top: 10px;
display: block;
}

{% endblock %}

{% block title %}CreateAccount{% endblock %}

{% block body %}

<div id="Break_Point">
    <table id="table">
        <tbody id="tbody">
            <tr>
                <td id="row1">
                    <img id="Create_Account_Picture" src="http://www1.bellaliant.net/myaccount/demo/img/icon1.png">
                    <h1 id="Create_Account">Create Account</h1>
                    <form action="/CreateAccount" method="POST">
                        Create Username:<br>
                        <input type="text" name="username">
                        <br>
                        Create Password:<br>
                        <input type="password" name="password">
                        <br>
                        Email:<br>
                        <input type="text" name="email">
                        <br><br>
                        <input type="submit" value="Save"><br>
                        <h1 id="error">{{ error }}</h1>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<a id="Home" href="/">Home</a>

{% endblock %}
