{% extends "Common.html" %}

{% block styles %}

#table {
margin: auto;
height: 100%;
width: 30%;
color: #003D7A;
}

#Break_Point {
height: 100vh;
}

#tbody {
vertical-align: middle;
}

p {
margin-top: 20px;
font-size: 20px;
margin-bottom: 20px;
}

form {
font-size: 15px;
}

#error {
font-size: 20px;
color: red;
}

{% endblock %}

{% block title %}Forgot{% endblock %}

{% block body %}

<div id="Break_Point">
<table id="table">
    <tbody id="tbody">
        <tr>
            <td id="row1">
                <h1 id="Forgot">Forgot Username or Password?</h1>
                <p>Enter the email address of your associated account and your username and password will be emailed to you.</p>
                <h1 id="error">{{ error }}</h1>
                <form action="/Forgot" method="POST">
                    Email Address:<br>
                    <input type="text" name="email">
                    <br><br>
                    <input type="submit" value="Send">
                </form>

            </td>
        </tr>
    </tbody>
</table>
</div>

{% endblock %}
