<label>Search</label>
<input type="text" value="Doe" />

<h3>Search Results</h3>
<div class="list-group">
    <search-result person-object = 'person' address-creator = 'addressCreator(aperson)' ng-repeat="person in people"></search-result>
</div>