{% extends "Common.html" %}

{% block styles %}

.Grid1 {
color: #003D7A;
margin-top: 10px;
}

.Grid2 {
color: #003D7A;
font-size: 20px;
margin-top: 20px;
max-width: 600px;
}

#total {
color: #003D7A;
font-size: 35px;
margin-top: 20px;
}

.Grid4 {
color: #003D7A;
font-size: 30px;
max-width: 200px;
}

.Grid5 {
margin-top: 20px;
max-width: 250px;
}

#button2 {
height: 50px;
width: 70px;
font-size: 20px;
}

#form {
color: #003D7A;
font-size: 20px;
margin-bottom: 20px;
}

.Grid3 {
color: #003D7A;
margin-top: 20px;
max-width: 500px;
}

#checkbox {
height: 35px;
width: 35px;
margin: 10px;
}

#player_username {
font-size: 30px;
}

#user_post {
color: #003D7A;
}

#player_reason {
font-size: 20px;
}

#button3 {
text-align: left;
height: 33px;
width: 40px;
font-size: 10px;
}

#Delete {
font-size: 19px;
color: #003D7A;
}

.Grid6 {
font-size: 15px;
color: #003D7A;
margin-top: 10px;
}

#Submit {
margin-top: 15px;
font-size: 15px;
margin-bottom: 15px;
}

{% endblock %}

{% block title %}Sit{% endblock %}

{% block body %}

<div class="row Grid1">
    <div class="col-xs-12">
       <h1>{{ players_name_attribute }}'s voting page:</h1>
       <img id="player_picture" class="img-responsive center-block" src="{{ players_picture_attribute }}">
    </div>
</div>

<div class="row Grid2">
    <div class="col-xs-12 col-md-4">
        <div>{{ game_date }}</div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div>{{ game_opponent }}</div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div>{{ game_status }}</div>
    </div>
</div>

<div class="row Grid3">
    <div class="col-xs-12">
        <h1 id="total"><u>Total Votes</u></h1>
    </div>
</div>

<div class="row Grid4">
    <div class="col-xs-6">
        <div>Start</div>
        <div>{{ start_count }}</div>
    </div>
    <div class="col-xs-6">
        <div>Sit</div>
        <div>{{ sit_count }}</div>
    </div>
</div>

{% if sit_posts == {} %}
    <div></div>
{% else %}
    {% for player in sit_posts %}
        <div class="row Grid3">
            <div class="col-xs-12 col-md-3">
                <div id="player_username"><a id="user_post" href="/UserPost/{{ player.username }}">{{ player.username }}</a></div>
            </div>
            <div class="col-xs-12 col-md-1">
                <div><button id="button3" class="btn btn-danger" type="button">{{ player.vote }}</button></div>
            </div>
            {% if username == player.username %}
            <div class="col-xs-12 col-md-5">
                <div><a id="Delete" href="/Delete/Sit/{{ players_id_attribute }}">Delete Post</a></div>
            </div>
            {% else %}
            {% endif %}
        </div>
        <div class="row Grid3">
            <div class="col-xs-12 col-md-12">
                <div id="player_reason">"{{ player.reason }}"</div>
            </div>
        </div>
    {% endfor %}
{% endif %}

<div class="row Grid3">
     <div class="col-xs-12 col-md-12">
        <form id="form" action="{{ Player_and_id_Sit }}" method="post">
            Start or Sit:
            <br><input id="checkbox" type="checkbox" name="vote" value="Start">
            <input id="checkbox" type="checkbox" name="vote" value="Sit"><br>
            Reason:
            <br><textarea class="img-responsive" cols="45" rows="5" maxlength="400" name="reason"></textarea><br>
            <input type="submit" value="Submit">
        </form>
     </div>
</div>

<div class="row Grid5">
    <div class="col-xs-6">
        <div><a href="{{ Player_and_ID_Start }}"><button id="button2" class="btn btn-primary" type="button">Start</button></a></div>
    </div>
    <div class="col-xs-6">
        <div><a href="{{ Player_and_ID_Sit }}"><button id="button2" class="btn btn-danger" type="button">Sit</button></a></div>
    </div>
</div>

<div class="row Grid6">
    <div class="col-xs-12">
        <form id="search" action="/PlayerSearch" method="POST">
        Search player's voting page:<br>
        <input type="text" name="players_name">
        <br>
        <input id="Submit" type="submit" value="Search">
        </form>
    </div>
</div>

{% endblock %}