{% extends "Common.html" %}

{% block script %}

$(document).ready(function() {
    $(".button").click(function(e) {
        $("body").append(''); $(".popup").show();
        $(".close").click(function(e) {
            $(".popup, .overlay").hide();
        });
    });
});


{% endblock %}

{% block styles %}

.button {
    display: inline-block;
    background: #000;
    padding: 5px 10px;
    z-index: 0;
    color: #fff;
}

.overlay {
    z-index: 5;
    background: rgba(0, 0, 0, .50);
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
}

.popup {
    padding: 10px 10px 35px;
    background: #fff;
    z-index: 999;
    display: none;
    position: absolute;
    right: 0;
}


{% endblock %}

{% block title %}TestPage{% endblock %}

{% block body %}

<div class="ar login_popup">
    <a class="button" href="#" >Login</a>

    <div class="popup">
        <a href="#" class="close">CLOSE</a>
        <form>
            <P><span class="title">Username</span> <input name="" type="text" /></P>
            <P><span class="title">Password</span> <input name="" type="password" /></P>
            <P><input name="" type="button" value="Login" /></P>
        </form>
    </div>
</div>





{% endblock %}