{% extends "Common.html" %}



{% block styles %}

#navMenu {
margin-top: 50px;
}

#navMenu ul {
margin: 0;
padding: 0;
list-style: none;
background: #252525;
text-align: center;
position: relative;
}

#navMenu ul li {
display: inline-block;
}

#navMenu ul li a {
display: block;
height: 60px;
width: 150px;
color: #fff;
font-family: helvetica;
line-height: 60px;
text-decoration: none;
transition: background 0.5s linear 0s, color 0.5s linear 0s
}

#navMenu ul li a:hover {
background: #f0300b;
color: #781705;
}

#navMenu ul ul {
position: absolute;
width: 150px;
display: none;
}

#navMenu ul ul li {
display: block;
background: #252525;
}

{% endblock %}

{% block title %}TestPage{% endblock %}



{% block body %}

<div id="navMenu">
    <ul>
        <li><a href="#">Home</a>
            <ul>
                <li><a href="#">Dropdown</a></li>
                <li><a href="#">Dropdown</a></li>
                <li><a href="#">Dropdown</a></li>
                <li><a href="#">Dropdown</a></li>
            </ul>
        </li>
        <li><a href="#">About</a>
            <ul>
                <li><a href="#">Dropdown</a></li>
                <li><a href="#">Dropdown</a></li>
                <li><a href="#">Dropdown</a></li>
                <li><a href="#">Dropdown</a></li>
            </ul>
        </li>
        <li><a href="#">Media</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>

<form role="form" method="post" onsubmit="return false">
Number One:<br>
<input type="number" name="one"><br>
Number Two:<br>
<input type="number" name="two"><br>
<button type="submit">Submit</button>
<br>
</form>


<p>The answer is:<span id="results"></span></p>

{% endblock %}



{% block script %}

jQuery(function () {
$('form').on('submit', function() {

var valueOne = $('input[name="one"]').val();
var valueTwo = $('input[name="two"]').val();

$.ajax({
type: "POST",
url: "/TestPage",
data: {first: valueOne, second: valueTwo},
success: function(results) {
$("#results").html(results.total)
$("input").val("")
},
error: function(error) {
alert("error");
}

});
});
});

jQuery(function() {
$('#navMenu ul li').hover(function () {
$('ul',this).stop().fadeToggle(400);
})
});

{% endblock %}


