<!DOCTYPE html>
<html>
<head>

   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<style>

.Grid {
margin-top: 10px;
color: #003D7A;
text-align: center;
}

.Grid1 {
margin-top: 10px;
max-width: 700px;
color: #003D7A;
text-align: center;
font-size: 20px;
}

#Submit {
margin-top: 15px;
font-size: 15px;
margin-bottom: 15px;
}

.Grid2 {
margin-top: 50px;
max-width: 1000px;
color: #003D7A;
text-align: center;
font-size: 20px;
}

#img {
width: 215px;
height: 160px;
}

.Grid3 {
font-size: 20px;
color: #003D7A;
margin-top: 10px;
}

a {
color: #003D7A;
}

#deleteSign {
font-size: 15px;
color: #680000 ;
float: left;
}

#Error {
font-size: 20px;
color: red;
}

#Heading {
font-size: 25px;
color: red;
}

body {
background-color: white;
font-family: Baskerville;
text-align: center;
}

.row {
margin: auto;
max-width: 1000px;
}

#headerpicture {
    height: 140px;
    width: 140px;
    position: absolute;
    left: 5%;
    top: -1%;
    z-index: 1;
}

#navMenu {
    margin-top: 35px;
}

#navMenu ul {
margin: 0;
padding: 0;
list-style: none;
background: #003D7A;
text-align: right;
position: relative;
}

#navMenu ul li {
display: inline-block;
    text-align: center;
}

#navMenu ul li a {
display: block;
height: 60px;
width: 150px;
color: #fff;
font-family: helvetica;
line-height: 60px;
text-decoration: none;
transition: background 0.5s linear 0s, color 0.5s linear 0s
}

#navMenu ul li a:hover {
background: #f0300b;
color: white;
}

#navMenu ul ul {
position: absolute;
width: 150px;
display: none;
}

#navMenu ul ul li {
display: block;
background: #003D7A;
}

</style>

<title>TestPage</title>

</head>

<body>

<a href="/FantasyTeam"><img id="headerpicture" src="http://www.hdicon.com/wp-content/uploads/2011/11/National_Football_League_2008.png"/></a>

<div id="navMenu">
    <ul>
        <li><a href="#">tzabawa</a>
            <ul>
                <li><a href="/FantasyTeam">Home</a></li>
                <li><a href="#">Players</a></li>
            </ul>
        </li>
        <li><a href="/LogOut">LogOut</a></li>
    </ul>
</div>


        <h1 id="Heading">For demo purposes, not all players can be added to your squadffffffffffffffffffffffffffffffffffffffffffffffffffff.</h1>
        <h1>Your Squad:</h1>

        {% for item in list %}
        <h1>{{ item }}</h1>
        {% endfor %}

</body>

<script type="text/javascript">

$(document).ready(function(){
    $('#navMenu ul li').click(function(){
    $('ul',this).slideToggle('fast')
    });
});




</script>

</html>



