{% extends "Common.html" %}

{% block styles %}

.Grid {
margin-top: 10px;
color: #003D7A;
text-align: center;
width: 65%;
}

.Grid1 {
margin-top: 10px;
max-width: 700px;
color: #003D7A;
text-align: center;
font-size: 20px;
}

#Submit {
margin-top: 15px;
font-size: 15px;
margin-bottom: 15px;
}

.Grid2 {
margin-top: 50px;
max-width: 1000px;
color: #003D7A;
text-align: center;
font-size: 20px;
}

#img {
width: 215px;
height: 160px;
}

.Grid3 {
font-size: 20px;
color: #003D7A;
margin-top: 10px;
}

a {
color: #003D7A;
}

#deleteSign {
font-size: 15px;
color: #680000 ;
float: left;
}

#Error {
font-size: 20px;
color: red;
}

#Heading {
font-size: 25px;
color: red;
}

@media screen and (max-width: 1200px) {
    #Heading {
        display: none;
    }
    .Grid {
        margin-top: 100px;
    }
}

{% endblock %}

{% block title %}FantasyTeam{% endblock %}

{% block body %}



<div class="row Grid">
    <div class="col-xs-12">
        <h1 id="Heading">For demo purposes, not all players can be added to your squad.</h1>
        <h1>Your Squad:</h1>
    </div>
</div>

<div class="row Grid1">
    <div class="col-xs-12">
        <form action="/FantasyTeam" method="POST">
        Add Player<br>
        <input type="text" name="Add">
        <h1 id="Error">{{ error }}</h1>
        <br>
        <input id="Submit" type="submit" value="Add">
        </form>
    </div>
</div>

{% if users_players_list == {} %}
    <div></div>
{% else %}
    <div class="row Grid2">
    {% for player in users_players_list %}
        <div class="col-xs-12 col-sm-6 col-md-3">
            <a href="/Remove/{{ player.id }}"><span id="deleteSign" class="glyphicon glyphicon-remove"></span></a>
            <img id="img" src="{{ player.picture }}">
            <div><a href="/PlayerVote/{{ player.id }}">{{ player.player }}</a></div>
        </div>
    {% endfor %}
    </div>
{% endif %}

<div class="row Grid3">
    <div class="col-xs-12">
        <form id="search" action="/PlayerSearch" method="POST">
        Search player's voting page:<br>
        <input type="text" name="players_name">
        <br>
        <input id="Submit" type="submit" value="Search">
        </form>
    </div>
</div>



{% endblock %}

