<<<<<<< HEAD
{% extends "Common.html" %}

{% block script %}

$(document).ready(function() {
    $('.Get_Started').click(function() {
        $('.Panel').slideToggle('slow');
    });
});

 $(function () {

    /* SET PARAMETERS */
    var change_img_time     = 2000;
    var transition_speed    = 200;

    var simple_slideshow    = $("#exampleSlider"),
        listItems           = simple_slideshow.children('li'),
        listLen             = listItems.length,
        i                   = 0,

        changeList = function () {

            listItems.eq(i).fadeOut(transition_speed, function () {
                i += 1;
                if (i === listLen) {
                    i = 0;
                }
                listItems.eq(i).fadeIn(transition_speed);
            });

        };

    listItems.not(':first').hide();
    setInterval(changeList, change_img_time);

});


{% endblock %}

{% block styles %}

#Demo {
color: red;
font-size: 20px;
}

#table {
height: 100%;
width: 100%;
}

#tbody {
vertical-align: middle;
}

#Break_Point {
height: calc(100vh - 50px);
}

#row1 {
width: 55%
}

#Player {
border: 10px solid #003D7A;
border-radius: 5px;
display: inline-block;
}

#Start_Or_Sit {
color: #003D7A;
font-size: 45px;
margin-bottom: 30px;
}

.Grid2 {
margin-top: 120px;
color: #003D7A;
text-align: center;
}

#Create_Account {
height: 150px;
width: 150px;
}

#Fantasy_Team {
height: 200px;
width: 275px;
border: 10px solid #194775;
border-radius: 5px;
}

#Search {
height: 175px;
width: 175px;
}

#Vote {
height: 200px;
width: 275px;
}

#Tally {
height: 200px;
width: 275px;
border: 10px solid #194775;
border-radius: 5px;
}

.Grid3 {
color: #003D7A;
font-size: 15px;
margin-top: 125px;
}

a {
color: #003D7A;
}

p {
font-size: 20px;
}

.Panel {
display: none;
list-style: none;
margin: auto;
width: 150px;
text-align: center;
color: #003D7;
font-size: 20px;
}

.Get_Started {
    background: #003D7A;
    border-radius: 5px;
    display: inline-block;
    color: white;
    padding: 10px 15px 10px 15px;
    font-size: 15px;
}

#LogIn {
color: #003D7A;
font-size: 15px;
}

#exampleSlider {
margin-top: 30px;
-webkit-padding-start: 0px;
list-style: none;
border: 5px solid #003D7A;
border-radius: 5px;
display: inline-block;
}

{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}

<a href id="Top"></a>



<div id="Break_Point">
    <table id="table">
        <tbody id="tbody">
            <tr>
                <td id="row1">
                    <h1 id="Demo">This demo website is for employment purposes ONLY, please do not use commercially!</h1>
                    <ul id="exampleSlider">
                        <li><img class="img-responsive" src="https://fantasyfootballers.org/wp-content/uploads/2014/09/nfl-fantasy-football-440.jpg" alt=""/></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/1428.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/14005.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/8439.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/16803.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/10447.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/2330.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/15848.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/13229.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/13215.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/8479.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/9597.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/2622.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/10456.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/5529.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/14874.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/4461.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/11278.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/2580.png&w=350&h=254 " alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/12483.png&w=350&h=254" alt="" /></li>
                    </ul>
                    <h1 id="Start_Or_Sit"> To Start Or Sit?</h1>
                     <div class="Panel">
                        <li><a href="/CreateAccount">Sign Up</a></li>
                        <li><a href="#down">How It Works!</a></li>
                     </div>
                    <p><div class="Get_Started">Get Started ^</div></p>
                    <a id="LogIn" href="/LogIn">LogIn</a></li>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<a href id="down"></a>

<div class="row Grid2">
    <div class="col-xs-12 col-md-6">
        <h1>1. Create an account.</h1>
        <p>Create your own username and password.</p>
    </div>
    <div class="col-xs-12 col-md-6">
        <img id="Create_Account" src="http://www1.bellaliant.net/myaccount/demo/img/icon1.png">
    </div>
</div>
<div class="row Grid2">
    <div class="col-xs-12 col-md-6">
        <h1>2. Upload your fantasy team.</h1>
        <p>After you create your account, add your fantasy teams' players to your own user "team page." You may add or delete any player as your fantasy team changes throughout the season.</p>
    </div>
    <div class="col-xs-12 col-md-6">
         <img id="Fantasy_Team" src="http://graphics8.nytimes.com/images/2010/08/10/sports/10fantasy1/10fantasy1-custom1.jpg"/>
    </div>
</div>
<div class="row Grid2">
    <div class="col-xs-12 col-md-6">
       <h1>3. Search to vote.</h1>
       <p>Once added, you will have the ability to click on any of your players' names to view their individual "voting page." If you want to view the voting page of a player not currently on your fantasy team, you may do so by typing their name in the search bar.</p>
    </div>
    <div class="col-xs-12 col-md-6">
       <img id="Search" src="http://www.thetrainline-europe.com/wp-content/uploads/2014/10/search-icon-blue.png"/>
    </div>
</div>
<div class="row Grid2">
    <div class="col-xs-12 col-md-6">
        <h1>4. Vote and Reason.</h1>
        <p>Each week, you can vote and reason if your player should "start or "sit" for that given game. You will see two buttons, a "Start" button and a "Sit" button. Click on either button to be able to vote. You will be taken to a page where you can enter your individual vote as well as view other users' votes on that individual player. You can only enter one total vote, per player, per week.<p>
    </div>
    <div class="col-xs-12 col-md-6">
        <img id="Vote" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQN04KNPaYlgnOZnlBM7LrFOlBVwzcYJXgVjr7_HBqbKmN-nxLn9w"/>
    </div>
</div>
<div class="row Grid2">
    <div class="col-xs-12 col-md-6">
        <h1>5. Follow to total tally.</h1>
        <p>Once you enter your vote and reason, you will be able see it on the page. You will also notice a total tally for "Start" and "Sit" on top of the entries. Each user entry will alter that tally. As more and more users add their votes and reasons, you will see a list form as entries start to stack on top of one another. Use that list and the total tally to help you decide if you should "start" or "sit" that player for the given week.</p>
    </div>
    <div class="col-xs-12 col-md-6">
        <img id="Tally" src="http://geekmom.com/wp-content/uploads/2014/04/tally-marks.jpg"/>
    </div>
</div>

<div class="row Grid3">
    <div class="col-xs-12">
       <div id="Arrow" align="center"><span class="glyphicon glyphicon-arrow-up"></span></div>
       <a href id="#Top">Back To The Top</a>
    </div>
</div>

{% endblock %}
=======
{% extends "Common.html" %}

{% block script %}

$(document).ready(function() {
    $('.Get_Started').click(function() {
        $('.Panel').slideToggle('slow');
    });
});

 $(function () {

    /* SET PARAMETERS */
    var change_img_time     = 2000;
    var transition_speed    = 200;

    var simple_slideshow    = $("#exampleSlider"),
        listItems           = simple_slideshow.children('li'),
        listLen             = listItems.length,
        i                   = 0,

        changeList = function () {

            listItems.eq(i).fadeOut(transition_speed, function () {
                i += 1;
                if (i === listLen) {
                    i = 0;
                }
                listItems.eq(i).fadeIn(transition_speed);
            });

        };

    listItems.not(':first').hide();
    setInterval(changeList, change_img_time);

});


{% endblock %}

{% block styles %}

#Demo {
color: red;
font-size: 20px;
}

#table {
height: 100%;
width: 100%;
}

#tbody {
vertical-align: middle;
}

#Break_Point {
height: calc(100vh - 50px);
}

#row1 {
width: 55%
}

#Player {
border: 10px solid #003D7A;
border-radius: 5px;
display: inline-block;
}

#Start_Or_Sit {
color: #003D7A;
font-size: 45px;
margin-bottom: 30px;
}

.Grid2 {
margin-top: 100px;
color: #003D7A;
text-align: center;
}

#Create_Account {
height: 150px;
width: 150px;
}

#Fantasy_Team {
height: 200px;
width: 275px;
border: 10px solid #194775;
border-radius: 5px;
}

#Search {
height: 175px;
width: 175px;
}

#Vote {
height: 200px;
width: 275px;
}

#Tally {
height: 200px;
width: 275px;
border: 10px solid #194775;
border-radius: 5px;
}

.Grid3 {
color: #003D7A;
font-size: 15px;
margin-top: 125px;
}

a {
color: #003D7A;
}

p {
font-size: 20px;
}

.Panel {
display: none;
list-style: none;
margin: auto;
width: 150px;
text-align: center;
color: #003D7;
font-size: 20px;
}

.Get_Started {
    background: #003D7A;
    border-radius: 5px;
    display: inline-block;
    color: white;
    padding: 10px 15px 10px 15px;
    font-size: 15px;
}

#LogIn {
color: #003D7A;
font-size: 15px;
}

#exampleSlider {
margin-top: 30px;
-webkit-padding-start: 0px;
list-style: none;
border: 5px solid #003D7A;
border-radius: 5px;
display: inline-block;
}

@media screen and (max-width: 1000px) {
    .Grid2 {
        margin-top: 150px;
    }
        
}

{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}

<a href id="Top"></a>



<div id="Break_Point">
    <table id="table">
        <tbody id="tbody">
            <tr>
                <td id="row1">
                    <h1 id="Demo">This demo website is for employment purposes ONLY, please do not use commercially!</h1>
                    <ul id="exampleSlider">
                        <li><img class="img-responsive" src="https://fantasyfootballers.org/wp-content/uploads/2014/09/nfl-fantasy-football-440.jpg" alt=""/></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/1428.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/14005.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/8439.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/16803.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/10447.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/2330.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/15848.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/13229.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/13215.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/8479.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/9597.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/2622.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/10456.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/5529.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/14874.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/4461.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/11278.png&w=350&h=254" alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/2580.png&w=350&h=254 " alt="" /></li>
                        <li><img class="img-responsive" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/12483.png&w=350&h=254" alt="" /></li>
                    </ul>
                    <h1 id="Start_Or_Sit"> To Start Or Sit?</h1>
                     <div class="Panel">
                        <li><a href="/CreateAccount">Sign Up</a></li>
                        <li><a href="#down">How It Works!</a></li>
                     </div>
                    <p><div class="Get_Started">Get Started ^</div></p>
                    <a id="LogIn" href="/LogIn">LogIn</a></li>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<a href id="down"></a>

<div class="row Grid2">
    <div class="col-xs-12 col-md-6">
        <h1>1. Create an account.</h1>
        <p>Create your own username and password.</p>
    </div>
    <div class="col-xs-12 col-md-6">
        <img id="Create_Account" src="http://www1.bellaliant.net/myaccount/demo/img/icon1.png">
    </div>
</div>
<div class="row Grid2">
    <div class="col-xs-12 col-md-6">
        <h1>2. Upload your fantasy team.</h1>
        <p>After you create your account, add your fantasy teams' players to your own user "team page." You may add or delete any player as your fantasy team changes throughout the season.</p>
    </div>
    <div class="col-xs-12 col-md-6">
         <img id="Fantasy_Team" src="http://graphics8.nytimes.com/images/2010/08/10/sports/10fantasy1/10fantasy1-custom1.jpg"/>
    </div>
</div>
<div class="row Grid2">
    <div class="col-xs-12 col-md-6">
       <h1>3. Search to vote.</h1>
       <p>Once added, you will have the ability to click on any of your players' names to view their individual "voting page." If you want to view the voting page of a player not currently on your fantasy team, you may do so by typing their name in the search bar.</p>
    </div>
    <div class="col-xs-12 col-md-6">
       <img id="Search" src="http://www.thetrainline-europe.com/wp-content/uploads/2014/10/search-icon-blue.png"/>
    </div>
</div>
<div class="row Grid2">
    <div class="col-xs-12 col-md-6">
        <h1>4. Vote and Reason.</h1>
        <p>Each week, you can vote and reason if your player should "start or "sit" for that given game. You will see two buttons, a "Start" button and a "Sit" button. Click on either button to be able to vote. You will be taken to a page where you can enter your individual vote as well as view other users' votes on that individual player. You can only enter one total vote, per player, per week.<p>
    </div>
    <div class="col-xs-12 col-md-6">
        <img id="Vote" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQN04KNPaYlgnOZnlBM7LrFOlBVwzcYJXgVjr7_HBqbKmN-nxLn9w"/>
    </div>
</div>
<div class="row Grid2">
    <div class="col-xs-12 col-md-6">
        <h1>5. Follow to total tally.</h1>
        <p>Once you enter your vote and reason, you will be able see it on the page. You will also notice a total tally for "Start" and "Sit" on top of the entries. Each user entry will alter that tally. As more and more users add their votes and reasons, you will see a list form as entries start to stack on top of one another. Use that list and the total tally to help you decide if you should "start" or "sit" that player for the given week.</p>
    </div>
    <div class="col-xs-12 col-md-6">
        <img id="Tally" src="http://geekmom.com/wp-content/uploads/2014/04/tally-marks.jpg"/>
    </div>
</div>

<div class="row Grid3">
    <div class="col-xs-12">
       <div id="Arrow" align="center"><span class="glyphicon glyphicon-arrow-up"></span></div>
       <a href id="#Top">Back To The Top</a>
    </div>
</div>

{% endblock %}
>>>>>>> bcf09649d3e16be7795d116854d01aca458e8134
