{% extends "Common.html" %}

{% block styles %}

.Grid1 {
color: #003D7A;
margin-top: 10px;
width: 65%;
}

.Grid2 {
color: #003D7A;
font-size: 20px;
margin-top: 20px;
max-width: 600px;
}

#total {
color: #003D7A;
font-size: 35px;
margin-top: 20px;
}

.Grid4 {
color: #003D7A;
font-size: 30px;
max-width: 200px;
}

.Grid5 {
margin-top: 20px;
margin-bottom: 10px;
max-width: 250px;
}

#button2 {
height: 50px;
width: 70px;
font-size: 20px;
}

#form {
color: #003D7A;
font-size: 20px;
}

#button {
height: 30px;
width: 30px;
}

.Grid6 {
font-size: 20px;
color: #003D7A;
}

#Submit {
margin-top: 15px;
font-size: 15px;
margin-bottom: 15px;
}

@media screen and (max-width: 1200px) {
    .Grid1 {
        margin-top: 100px;
}
}

{% endblock %}

{% block title %}PlayerVote{% endblock %}

{% block body %}

<div class="row Grid1">
    <div class="col-xs-12">
       <h1>{{ players_name_attribute }}</h1>
        <img id="player_picture" class="img-responsive center-block" src="{{ players_picture_attribute }}">
    </div>
</div>

<div class="row Grid2">
    <div class="col-xs-12 col-md-4">
        <div>{{ game_date }}</div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div>{{ game_opponent }}</div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div>{{ game_status }}</div>
    </div>
</div>

<div class="row Grid3">
    <div class="col-xs-12">
        <h1 id="total"><u>Total Votes</u></h1>
    </div>
</div>

<div class="row Grid4">
    <div class="col-xs-6">
        <div>Start</div>
        <div>{{ start_count }}</div>
    </div>
    <div class="col-xs-6">
        <div>Sit</div>
        <div>{{ sit_count }}</div>
    </div>
</div>

<div class="row Grid5">
    <div class="col-xs-6">
         <div><a href="{{ Player_and_ID_Start }}"><button id="button2" class="btn btn-primary" type="button">Start</button></a></div>
    </div>
    <div class="col-xs-6">
         <div><a href="{{ Player_and_ID_Sit }}"><button id="button2" class="btn btn-danger" type="button">Sit</button></a></div>
    </div>
</div>

<div class="row Grid6">
    <div class="col-xs-12">
        <form id="search" action="/PlayerSearch" method="POST">
        Search player's voting page:<br>
        <input type="text" name="players_name">
        <br>
        <input id="Submit" type="submit" value="Search">
        </form>
    </div>
</div>

{% endblock %}