{% extends "Common.html" %}

{% block styles %}

.Grid {
color: #003D7A;
text-align: center;
width: 100%;
}

#foodBackground {
color: white;
border-radius: 5px;
background: #003D7A;
margin-top: 5%;
display: inline-block;
padding: 2%;
box-shadow: 5px 5px 2px #DF0101;
}

#playerHeading {
font-size: 30px;
background: #DF0101;
color: white;
margin-top: 3%;
border: solid 1px white;
border-radius: 5px;
width: 50%;
padding: 2%;
margin-left: auto;
margin-right: auto;
box-shadow: 5px 5px 2px #003D7A;
display: inline-block;
}


{% endblock %}

{% block title %}PlayersFavoriteFood{% endblock %}

{% block body %}

<div id="playerHeading">The Top Restaurants of the NFL</div>

<div class="row Grid">
    {% for item in list %}
    <div class="col-xs-12">
        <h1 id="foodBackground">{{ item }}</h1>
    </div>
    {% endfor %}
</div>



{% endblock %}

