{% extends "Common.html" %}

{% block styles %}

#img {
width: 200px;
height: 145px;
}

#playerBackground {
border-radius: 5px;
background: #003D7A;
margin-top: 10%;
display: inline-block;
padding: 5%;
box-shadow: 5px 5px 2px #DF0101;
}

#playerBackground a {
border-radius: 5px;
border: solid 1px white;
padding: 5px;
background: #DF0101;
color: white;
font-size: 20px;
}

#point {
font-size: 17px;
margin-left: 10px;
}

#playerHeading {
background: #DF0101;
color: white;
margin-top: 3%;
border: solid 1px white;
border-radius: 5px;
width: 50%;
margin-left: auto;
margin-right: auto;
box-shadow: 5px 5px 2px #003D7A;
}

{% endblock %}

{% block title %}TestPage{% endblock %}

{% block body %}

<div id="playerHeading">
<h1>Players have been grouped together by team</h1>
</div>

{% for player in players_list %}
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div id="playerBackground">
                <img id="img" src="{{ player.picture }}">
                <div><a href="/PlayerVote/{{ player.id }}"<b>{{ player.player }}</b><span id="point" class="glyphicon glyphicon-hand-left
glyphicon glyphicon-"></span></a></div>
            </div>
        </div>
{% endfor %}


{% endblock %}

{% block script %}
{% endblock %}


