{% extends "Common.html" %}

{% block styles %}

#table {
margin: auto;
height: 100%;
width: 30%;
color: #003D7A;
}

@media screen and (max-width: 992px) {
    #table {
        margin: auto;
        height: 100%;
        width: 80%;
        color: #003D7A;
}
}

#Break_Point {
height: calc(100vh - 40px);
}

#tbody {
vertical-align: middle;
}

p {
margin-top: 20px;
font-size: 20px;
margin-bottom: 20px;
}

a {
font-size: 15px;
color: #003D7A;
display: block;
}

{% endblock %}

{% block title %}Sent{% endblock %}

{% block body %}

<div id="Break_Point">
<table id="table">
    <tbody id="tbody">
        <tr>
            <td id="row1">
               <h1 id="Sent">Sent!</h1>
                <p>An email containing your account's username and address has been sent to email address you have entered.</p>
            </td>
        </tr>
    </tbody>
</table>
</div>

<a id="LogIn" href="/LogIn">Login</a>

{% endblock %}