{% extends "Common.html" %}

{% block script %}

  $(document).ready(function(){
    $('.week_one_posts').click(function(){
    $('.Grid1').slideToggle('fast')
    });
});

{% endblock %}

{% block styles %}

.post_page {
margin-top: 10px;
font-size: 30px;
color: #003D7A;
}

.week_one_posts {
margin-top: 40px;
display: inline-block;
font-size: 20px;
color: #003D7A;
}

.Grid1 {
color: #003D7A;
max-width: 600px;
display: none;
}

#player_reason {
font-size: 20px;
width: 100%;
}

#button3 {
text-align: right;
height: 33px;
width: 40px;
font-size: 10px;
}

#player_username {
font-size: 30px;
}

#player_picture {
width: 90px;
height: 60px;
}

.username {
    background: #003D7A;
    color: white;
    font-size: 16px;
}

#image {
font-size: 10px;
}

.col-xs-12 {
margin-top: 20px;
}

{% endblock %}

{% block title %}TestPage{% endblock %}

{% block body %}

<div class="row Grid2">
    <div class="col-xs-12">
        <div class="post_page">{{ user_posts_username }}'s player posts:</div>
    </div>
</div>

{% if user_posts == {} %}
<div id="no_posts">This user currently has zero posts for the week</div>
{% else %}
<div class="week_one_posts"><b>Week1</b><span id="image" class="glyphicon glyphicon-chevron-down"></span>
{% for player in user_posts %}
    <div class="row Grid1">
         <div class="col-xs-12 col-md-3">
            <div> <img id="player_picture" src="{{ player.picture }}"/></div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div id="player_username">{{ player.username }}</div>
        </div>
        <div class="col-xs-12 col-md-1">
            {% if player.vote == "Sit" %}
            <div><button id="button3" class="btn btn-danger" type="button">{{ player.vote }}</button></div>
            {% else %}
             <div><button id="button3" class="btn btn-primary" type="button">{{ player.vote }}</button></div>
            {% endif %}
        </div>
    </div>
    <div class="row Grid1">
        <div class="col-xs-12 col-md-12">
            <div id="player_reason">"{{ player.reason }}"</div>
        </div>
    </div>
{% endfor %}
{% endif %}
</div>

{% endblock %}