FORECAST for {{ '{{ city }}' }}
<hr />
Days: <a href="#/weatherForecast/2" ng-class="{ 'bg-primary': days === '2'}">2</a> | <a href="#/weatherForecast/5" ng-class="{ 'bg-primary': days === '5'}">5</a> | <a href="#/weatherForecast/7" ng-class="{ 'bg-primary': days === '7'}">7</a>
<hr />
<div ng-repeat="w in weatherResult.list">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ '{{ convertToDate(w.dt) | date: "MMM d, y"}}' }}</h3>
                </div>
                <div class="panel-body">
                    DayTime Temperature: {{ '{{ convertToFahrenheit(w.temp.day) }}' }}
                </div>
            </div>
        </div>
    </div>


</div>
